* {
    margin: 0;
    padding: 0;
    font-size: normal;
    font-family: 'DM Sans';
}

body {
    background-color: #E5E5E5;
    margin: auto;
    width: 1200px;
}

/* РАБОТА С header */
header {
    position: fixed;
    top: 0;
    width: 1200px;
    background-color: #E5E5E5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

header .img-logo {
    background-image: url(../assets/hs..svg);
    width: 64px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
}

header nav {
    display: flex;
}

header nav p {
    font: 500 22px "DM Sans";
    color: #181717;
}

header nav p:not(:last-child) {
    margin-right: 27px;
}

header nav p:hover {
    text-decoration: underline;
}

/* РАБОТА с main */
.title {
    margin-top: 109px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title h1 {
    font: 500 60px 'DM Sans';
    color: #181717;
}

.title p {
    font: 400 22px 'DM Sans';
    color: #606060;
}

.data {
    display: flex;
    justify-content: space-between;
    margin: 52px 0 110px;
    height: 200px;
}

.data .enter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* КНОПКА */
button {
    width: 162px;
    height: 42px;
    background: #000000;
    border-radius: 5px;
    color: white;
    font-size: 18px;
}


/* РАБОТА с footer */
footer {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
}

footer .networks {
    display: flex;
}

footer .networks p {
    font-family: 500 22px 'DM Sans';
    color: #181717;
}

footer .networks p:not(:last-child) {
    margin-right: 30px;
}

footer .name {
    font: 500 22px 'DM Sans';
    color: #2429AF;
}