* {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-family: "DM Sans";
}

body {
    width: 1200px;
    margin: auto;
    color: #E5E5E5;
}

/* РАБОТА С header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

header .img-logo {
    background-image: url(../assets/hs..svg);
    width: 64px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
}

header nav {
    display: flex;
}

header nav p {
    margin-right: 27px;
    font: 500 22px "DM Sans";
    color: #181717;
}

/* РАБОТА С .preview */
.preview .info {
    display: flex;
    justify-content: space-between;
}

.preview .info h1 {
    font: 500 60px 'DM Sans';
    color: #181717;
    width: 360px;
}

.preview .info p {
    font: 400 32px 'DM Sans';
    color: #606060;
}

.preview .img-arrow {
    background-image: url(../assets/↓.svg);
    width: 33px;
    height: 39px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 128px;
}

/* РАБОТА С project */
.project {
    margin-top: 83px;
}

.container-1,
.container-2,
.container-3 {
    display: flex;
    justify-content: space-between;
}

.box-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.o1,
.o2,
.o3 {
    font: 500 22px 'DM Sans';
    color: #181717;
}


.language {
    color: #606060;
}

.shots {
    font: 500 22px 'DM Sans';
    text-decoration-line: underline;
    color: #181717;
}

.box-img {
    background-image: url(../assets/Thumbnail.svg);
    width: 640px;
    height: 364px;
    background-repeat: no-repeat;
    background-size: contain;
}

.line {
    width: 1115px;
    height: 2px;
    background-color: #181717;
    margin: 108px 0 114px 0;
}


/* РАБОТА с footer */
footer {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
}

footer .networks {
    display: flex;
}

footer .networks p {
    margin-right: 30px;
    font-family: 500 22px 'DM Sans';
    color: #181717;
}

footer .name {
    font: 500 22px 'DM Sans';
    color: #2429AF;
}